
* {
    box-sizing: border-box;
  }
  

body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container{
    margin: 20px;
  }
  
  div{
      font-size:larger;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: norml;
      font: #fc44e3;
  }
  .row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card-01{
    background: #ff8080;
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .card-02{
    background: #fff67a;
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 450px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .card-03{
    background: #8aff7a;
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 350px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .card-04{
    background: rgb(120, 225, 252);
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .card-05{
    background: rgb(120, 225, 252);
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width:1024px){
    .card-01{
      flex: 300%;
      width: 320%;
      min-width: 768px;
      max-width: 1024px;
    }
  
    .card-02{
      flex: 300%;
      width: 320%;
      min-width: 768px;
      max-width: 1024px;
    }
  
    .card-03{
      flex: 300%;
      width: 320%;
      min-width: 768px;
      max-width: 1024px;
    }

    .card-04{
        flex: 300%;
        width: 320%;
        min-width: 768px;
        max-width: 1024px;
      }
    
    .card-05{
        flex: 300%;
        width: 320%;
        min-width: 768px;
        max-width: 1024px;
      }      
  }
        